.favourites-container{
}
.favourites-header{
    font-size: larger;
    font-weight: bolder;
    
}
.favourites-header-container{
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    margin: 25px;
}
.favourites_profileimage{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.favourites-profile{
    display: flex;
    justify-content: flex-start;
    /* align-items: ; */
    align-items: baseline;
    margin-left: 25px;
}
.favourites-header__formimagegrid{
}
.favourites-fullname{
    font-size: 24px;
}
.favourite-title{
    font-size: 30px;
}
.fav-search{
    border: 2px solid #DEDEDE;
    height: 35px;
    border-radius: 10px;
    width: 250px;
}
.favourites-data-container{
    margin: 25px;
}
.favourites-items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.favourite-search{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.no-favourites{
    margin-top: 250px;
    font-size: 50px;
    width: 100%;
    text-align: center;
}