*{
    font-size: 20px;
    font-family: 'Graphik Webfont Helvetica';
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.loginform{
    grid-column: 2/3;
    border: 2px solid #DEDEDE;
    border-radius: 10px;
    width: 350px;
}

.loginform__heading{
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.loginfor__label{

}
.loginform__formgroup{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;

}

.loginform__input{
    display: block;
    margin-top: 5px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #DEDEDE;

}

.loginform__submit{
    margin-bottom: 20px;
    background-color: cadetblue;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #DEDEDE;


}
.loginform__formgroupbtn{
    display: flex;
    justify-content: center;
}

.loginform__submit:hover{
    background-color: teal;
}

.loginform__submit:disabled{
    background-color: grey;
}