.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.loginform{
    grid-column: 2/3;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.loginform:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.loginform__heading{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

.loginfor__label{

}
.loginform__formgroup{
    width: 90%;
    height: 70px;
    margin-top: 25px;
    
}

.loginform__input{
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #DEDEDE;

}

.loginform__submit{
    margin-top: 50px;
    background-color: #DEDEDE;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    /* border: 2px solid #DEDEDE; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.loginform__register{
    margin-top: 50px;
    background-color: #DEDEDE;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    /* border: 2px solid #DEDEDE; */
    margin-left: 30px;

}
.loginform__register:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.loginform__formgroupbtn{
    display: flex;
    justify-content: center;
}

.loginform__submit:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.loginform__submit:disabled{
    background-color: grey;
}