.item-overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  border-radius: 5px;
  margin: 30px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.item-overview-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.item-overview-fav-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.item-overview-image-container {
  width: 700px;
  height: 500px;
  position: relative;
}

.item-overview-image {
  display: block;
  width: 100%;
  height: 100%;
}

.item-overview-shop-name {
  font-size: 24px;
  text-decoration: underline;
}

.item-overview-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 25px;
}
.item-overview-shop-name:hover {
  cursor: pointer;
}
.item-overview-sales-count {
  font-size: 13px;
  color: #222222;
  line-height: 18px;
}

.item-overview-item-name {
  font-size: 26px;
  line-height: 32px;
  vertical-align: baseline;
  letter-spacing: 0.35px;
}

.item-overview-price {
  line-height: 36px;
  font-size: 36px;
  font-weight: 700;
  display: inline;
}

.item-overview-stock {
  display: inline;
  position: absolute;
  right: 50px;
  top: 75px;
  font-size: 30px;
}

.item-overview-quantity-container {
  margin: 25px 0px;
}

.item-overview-quantity-label {
  margin-bottom: 10px;
}

.item-overview-quantity-select {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #dedede;
  color: black;
  width: 250px;
  height: 35px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.item-overview-quantity-select:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.item-overview-add-cart-btn {
  border: none;
  border-radius: 5px;
  background-color: #dedede;
  color: black;
  width: 250px;
  height: 35px;
  margin-top: 20px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-right: 25px;
}
.item-overview-add-cart-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.item-overview-add-cart-btn[disabled],.item-overview-add-cart-btn[disabled]:hover,.item-overview-quantity-select[disabled],.item-overview-quantity-select[disabled]:hover {
  box-shadow: none;
  background-color: grey;
}
.item-overview-description-container {
  margin-top: 20px;
}

.item-overview-description-text {
  line-height: 1.5em;
}
.cart-buttons{
  display: flex;
}