
  .container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.header{
    border-bottom: 2px solid #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    flex-shrink: 0;
}
.header__logo{
    width: 75px;
    margin-right:20px;
    margin-top: 10px;
}
.header__search{
    display: flex;
    width: 70%;
    border: 2px solid #222222;
    border-radius: 35px;
    padding: 5px 0px;
    background-color: #F4F4F4 !important;
    margin: 10px 0px;
}

.header__inputsearchbox{
    border: 0;
    outline: 0;
    width: 100%;
    background-color: inherit;
    margin-left: 20px;
    padding:none !important;

}
.header__inputsearchbox:focus{
    outline: none;
    border:none;
  

}
.header__inputsearchicon{
    margin-right: 10px;
}

.header__link{
    text-decoration: none;
    color: inherit;
}

.footer{
    background-color: #232347;
    display: flex;
    color: white;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    margin-top: 25px;
    /* margin-bottom: 0px; */
    flex-shrink: 0;
}
.footer_left,.footer_right{
    display: flex;
}
.pipe{
    margin-left: 10px;
    margin-right: 10px;
}
.currency{
    bottom: 50px;
}
.link{
    text-decoration: none;
    color: white;
}