.shopform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopform__child1{
    border-radius: 10px;
    /* border: 2px solid #dedede; */
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    /* width: 65%; */
    grid-column: 1/3;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
    background-color: #FDEBD2;
}
.shopform__child1_shopdetails{
    display: flex;
}
.shopform__child1_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.shopform__middle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.shopform__title_main{
    font-size: 50px;
}
.ownerdetails{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.owner_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin: 20px; */
}
.ownerheading{
}
.owner_det,.shopform__title,.shopform__btn{
    margin-top: 20px;
}
.shopform__itemcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    /* border-top: 2px solid white; */
}


.shopform__title{
    font-size: larger;
    font-weight: bolder;
}
.shopform__image{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin-right: 25px;
}
.shopform__button{
    color: rgba(255, 255, 255, 0);
    
     overflow: hidden;
     margin-right: -100px;
}
.btn{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #dedede;
    border-radius: 10px;
}